/*Diseño Encabezado*/
.encabezado {
  background-color: #1f2937;
  color: white;
}

/*Menu*/
.menu {
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.logo {
}

nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
}

/*Encabezado inferior*/

.container {
  display: flex;
  justify-content: space-around;
}

.encabezado-inferior.e1 {
  width: 60%;

  height: 1%;
  margin-top: 50px;
  margin-bottom: auto;
}

.encabezado-inferior.e2 {
  width: 40%;
  margin: auto 0;
}

.imagen1 {
  width: 300px; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Ajusta la altura al 100% del contenedor */
  margin-bottom: 40px;
}
/*----------------------------------------------------------------------*/

/*Seccion de Informacion*/
.informacion {
  padding-bottom: 60px;
  padding-top: 30px;
}

.titulo2 {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 28%;
}
.Caja-informacion {
  display: flex;
  justify-content: space-around;
}

.caja {
  border: 2px solid #3882f6;
  padding: 20px;
  text-align: center;
}

.info {
  width: 100px;
}
/*----------------------------------------------------------------------*/

/*Seccion de frase*/

.frase-autor {
  background-color: #e5e7eb;
  padding: 60px;
}

.frase {
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  font-family: light italic;
}

.autor {
  width: 20%;
  font-weight: bold;
  text-align: center;
  margin-right: auto;
  margin-left: 700px;
}
/*------------------------------------------------------------------------*/

/* INFO DE INICIAR SESION */
.info-inicio.s1 {
  background-color: white;
  padding: 60px;
}

.info-inicio.s2 {
  background-color: #3882f6;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.mensaje-s2 {
  color: white;
  font-weight: bold;
}

.boton-s2 {
  margin-top: 20px;
  margin-bottom: auto;
  border: 2px solid white;
}

/*--------------------------------------------------------------------------------------------*/

/* PIE DE PAGINA*/
.final-s1 {
  background-color: #1f2937;
  padding: 10px;
}

.Copyright {
  color: white;
  width: 20%;
  margin: 0 auto;
}
